body{
background-color:#ddd;
text-align:center;
}
input[type=submit]{
padding:10px 15px;
border-radius:5px;
background-color:purple;
color:white;
}
.DoraemonFooter{
Background-color:lightskyblue;
Color:white;
font-size:15px;
Position:fixed;
Bottom:0;
Left:0;
Width:100%;
text-align:center;
}
